<h1>Dice Roll</h1>

<body>
  <form action = "/process_role">
    <label for="">"Number of dice to roll?"</label>
    <input to="" name=>

    <label for="">How many sides per die?</label>
    <input to="" name=>
    
    <button>"Roll!"</button>
  </form>
</body>
